body {
    background-color: #AAAADB;
    font-family: "Overpass", sans-serif;
    color:#DCF7FF;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color:#DCF7FF;
}