.noresult {
    position: absolute;
    left:35%;
    margin-top: 200px;
    width: 40%;

    @media(max-width:890px) {
        position: inherit;
        margin: 20%;
        left: 0;
        width: inherit;
    }
    &-title{
        font-size: 64px;
        font-weight: 700;
        @media(max-width:890px) {
        font-size: 42px;
    }
    @media(max-width:450px) {
        font-size: 30px;
    }
    }
}